{{>header}}


<body>
    <h1>{{title}}</h1>
    <form method="POST">
        <input type="text" placeholder="Type in the address" />
        <input type="submit" value="Send">

    </form>
    <div id="weather-data"></div>
    <p>Created by: {{name}}</p>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/app.js"></script>


</body>

</html>

{{>footer}}