<footer>
    <div style="display: flex; justify-content: center; align-items: center; background-color: yellow">
        <a href={{creditLink}} target="_blank" style="color: darkmagenta;">{{creditName}}</a>
    </div>
</footer>

</html>